* {
  font-family: Spartan;
}

:root {
  --Very Dark Magenta: hsl(300, 43%, 22%);
  --Soft Pink: hsl(333, 80%, 67%);
  --Dark Grayish Magenta: hsl(303, 10%, 53%);
  --Light Grayish Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

p {
  font-size: 15px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Mobile fist development */
main {
  padding-top: 1rem;
}
.heading {
  text-align: center;
  margin: 15vw 5vw 5vw 5vw;
}
.heading  h1 {
  margin: 15px;
  color: hsl(300, 43%, 22%);
}
.heading p {
  color: hsl(300, 9%, 63%);
  line-height: 1.5;
  margin-bottom: 35px;
}


.rating {
  background-color: hsl(300, 24%, 96%);
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}
.rating p {
  color: hsl(300, 43%, 22%);
  font-weight: 600;
  font-size: .8em;
  margin-top: 10px;
}

ul {
  padding: 0;
  margin-top: 50px;
  list-style: none;
}
li {
  background-color: hsl(300, 43%, 22%);
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
}

.profile {
  display: grid;
  grid-template-columns: 55px 120px;
  grid-gap: 10px;
}
.name {
  grid-column: 2;
  font-weight: 600;
}
.verified-buyer {
  grid-column: 2;
  color: hsl(333, 80%, 67%);
  font-weight: 400;
}

li p {
  color: hsl(300, 24%, 96%);
  font-size: .7em;

}

.quotes img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
}

@media (min-width: 800px){

    main {
      margin: 3vw;
    }
    .grid-box {
      display: grid;
      grid-template-columns:  1fr 1fr 1fr 1fr;
    }
    .heading {
      grid-column: 1/ span 2;
      height: 25%;
      margin: 20px;
    }
    .rating-wrapper {
      grid-column: 3/ span 4;
    }
    .quotes {
      display: flex;
      width: 30vw;

    }
  }
  
  

